$color-box1: #a371f7;
$color-box2: #8957e5;
$color-box3: #6e40c9;
$color-box4: #553098;
$color-box5: #3c1e70;
$color-box6: #271052;

$color-title: #edeef7;
$color-title3: #8957e5;
$color-title2: #271052;
$color-title4: #e2c5ff;

$background-color: #e3e7f1;

$line-underline: #35013f;
$line-underline2: #e6dcfd;
$line-underline3: #940fae;
$line-underline4: #32136a;
